<phpunit bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false"
         colors="false" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="default">
            <file>tests/phpunit/tests/test-rbc-utilities.php</file>
        </testsuite>
    </testsuites>
    <groups>
    <exclude>
       <group>ajax</group>
    </exclude>
  </groups>
</phpunit>
